<div class="card mb-3 bg-light">
  <div class="card-body">
    <div class="post-header d-flex align-items-center mb-3">
      <div class="post-avatar mr-3">
        <% if comment.user.avatar.file.nil? %>
          <%= image_tag("avatar-default.png", class: "card-post-user avatar-bordered", width: "40", height: "40", crop: "thumb", alt: "avatar") %>
        <% else %>
          <%= image_tag(comment.user.avatar.thumb.url, class: "card-post-user avatar-bordered", crop: "fill", alt: "avatar") %>
          <%#= cl_image_tag(comment.user.avatar, default_image: "avatar.png", class: "card-post-user avatar-bordered", width: "40", height: "40", crop: "thumb", alt: "avatar") %>
        <% end %>
      </div>
      <div class="post-username flex-grow-1"><%= link_to comment.user.first_name, user_path(comment.user) %></div>
      <div class="post-type">
        <small class="bg-secondary text-light px-2">Comment</small>
      </div>
    </div>
    <div class="card-content">
      <p class="card-text">
        <%= comment.content %>
        <br><small class="text-muted"><%= comment.created_at.strftime("%b %e, %l:%M %p") %></small>
      </p>
    </div>
    <% if user_signed_in? %>
      <% if comment.user == current_user %>
        <div class="card-utility mt-3">
          <h5>
            <%= link_to edit_comment_path(comment), class: "card-link" do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to comment_path(comment), method: :delete, class: "card-link" do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </h5>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

