<div id="user-<%= @user.id %>" class="user-<%= @user.id %>">
  <div class="container bg-white mt-3 p-3">
    <div class="row">
      <div class="col-12">
        <div class="user-image mb-3">
          <% if @user.avatar.file.nil? %>
            <%= image_tag("avatar-default.png", class: "card-post-user avatar-large", width: "100", height: "100", crop: "fill", alt: "avatar") %>
          <% else %>
            <%= image_tag(@user.avatar.thumb.url, width: "100", height: "100", class: "card-post-user avatar-large", crop: "fill", alt: "avatar") %>
            <%#= cl_image_tag(@user.avatar, default_image: "avatar.png", class: "card-post-user avatar-large", width: "100", height: "100", crop: "fill", alt: "avatar") %>
          <% end %>
        </div>
        <div class="user-name mb-3">
          <h2>Hi <%= @user.first_name %> <%= @user.last_name %>!</h2>
        </div>
        <div class="user-stats">
          <h5>
            <ul class="list-inline">
              <li class="list-inline-item"><%= pluralize(Post.where(user: @user, request: true).count, "prayer") %></li>
              <li class="list-inline-item"><%= pluralize(Post.where(user: @user, testimonial: true).count, "testimonial") %></li>
              <li class="list-inline-item"><%= link_to pluralize(@user.followers_count, "follower"), user_followers_path(@user) %></li>
              <li class="list-inline-item"><%= link_to pluralize(@user.follows.count, "following"), user_following_path(@user) %></li>
            </ul>
        </h5>
        </div>
        <div class="user-details">
          <p><%= @user.bio %></p>
        </div>
        <p></p>
        <p><%= @user.city %>, <%= @user.country %></p>
        <% if user_signed_in? %>
          <% if @user == current_user %>
            <p><%= @user.email %></p>
            <p>
              <ul class="list-inline">
                <li class="list-inline-item"><%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary" %></li>
                <li class="list-inline-item"><%= link_to "Change password", edit_user_registration_path, class: "btn btn-secondary" %></li>
              </ul>
            </p>
          <% end %>
        <% end %>
          <% if @user != current_user %>
            <%= render "follows/follow" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/post_grid" %>
