<h1>Welcome to TakeHeart.in</h1>
<p>Inspirational image</p>
<p><%= link_to "New Post", new_post_path %></p>
<div>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <p><%= post.content %> | <%= link_to post.user.first_name, user_path(post.user) %> |
          <% if post.request %>
            Request
          <% end %>
          <% if post.testimonial %>
            Testimonial
          <% end %>
        </p>
        <p>#Likes: <%= post.hearts.count %> | #Comments: <%= post.comments.count %></p>
        <p>
          <%= link_to 'Like', post_hearts_path(post), method: :post %> |
          <%= link_to 'Unlike', heart_path(post), method: :delete %> |
          <%= link_to 'Show', post_path(post) %> |
          <%= link_to 'Edit', edit_post_path(post) %> |
          <%= link_to 'Delete', post_path(post), method: :delete %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
