<div class="container my-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
      <% type = @post.request ? "request" : "testimonial" %>
      <h2 class="mb-3">Edit your <%= type %></h1>
      <% if !@post.post_photos[0].nil? %>
        <p><%= image_tag(@post.post_photos[0].photo.url, width: "250", crop: "fill") %></p>
      <% else %>
        <p>No image was uploaded</p>
      <% end %>
      <%= simple_form_for [@post] do |f| %>
        <%= f.input :content, label: "Type below to edit your #{type}" %>
        <%= f.input :photo_url, label: 'Upload an image to change existing' ,input_html: {value: '', multiple: "false"}, as: :file %>
        <%= f.submit "Update", class: "btn btn-primary" %>
        <%= link_to "Back", :back, class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
