<div class="container my-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
      <div class="new-post">
        <% if @request %>
          <h1>New prayer request</h1>
        <% end %>
        <% if @testimonial %>
          <h1>New testimonial</h1>
        <% end %>
        <%= simple_form_for [@post] do |f| %>
          <% if @request %>
            <%= f.input :category, label: "", as: :radio_buttons, collection: ['Prayer', 'Testimonial'], wrapper: :vertical_collection_inline, checked: "Prayer" %>
          <% else %>
            <%= f.input :category, label: "", as: :radio_buttons, collection: ['Prayer', 'Testimonial'], wrapper: :vertical_collection_inline, checked: "Testimonial" %>
          <% end %>
          <%= f.input :content, label: 'Type your prayer or testimonial' %>
          <%= f.input :photo_url, label: 'Upload a photo' ,input_html: {value: '', multiple: "false"}, as: :file %>
          <%= f.input :isPrivate, label: 'Private post: only visible to you' %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
          <%= link_to "Back", :back, class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
